button Join a Stable

h1 SCUD Rankings

h2 Makuuchi

h3 Yokozuna
p -
h3 Ozeki
p -
h3 Sekiwake
p -
h3 Komusubi
p -

h2 Makushita
p -

h2 Jonokuchi
ul
  li Justin Knutson
  li Rodrigo Menezes
  li Valeri Karpov
  li Dan Dhore
  li Tiberius Borden
