h1 Welcome, {{vm.currentUser.first_name}}
a(href='/logout' target='_self') Logout &raquo;
br
a(ui-sref='invite') Invite a new player

h2 Your current rank is {{vm.currentUser.rank}}
a(ui-sref='ranks') What does this mean?

br
br

button(ng-click='vm.newGame()') Add New Game

div(ng-if='!vm.currentUser.stable')
  h2 You are currently NOT in a stable
  h3 In order to be ranked, you must first join a stable

button(ng-hide='vm.currentUser.stable' ng-click='vm.joinStable()') Join a Stable

h1 Stables

ul
  li(ng-repeat="stable in vm.stables")
    | {{stable.name}} - Doshu: {{stable.doshu.first_name + ' ' + stable.doshu.last_name}}

h1 SCUD Rankings

h2 Makuuchi

h3 Yokozuna
jk-filter-ranks(rank='Yokozuna' users='vm.users')

h3 Ozeki
jk-filter-ranks(rank='Ozeki' users='vm.users')

h3 Sekiwake
jk-filter-ranks(rank='Sekiwake' users='vm.users')

h3 Komusubi
jk-filter-ranks(rank='Komusubi' users='vm.users')

h2 Makushita
jk-filter-ranks(rank='Makushita' users='vm.users')

h2 Jonokuchi
jk-filter-ranks(rank='Jonokuchi' users='vm.users')
