h1 Welcome, {{vm.currentUser.first_name}}

button(ng-click='vm.newGame()') Add New Game

span {{users}}

div(ng-if='!vm.currentUser.stable')
  h2 You are currently NOT in a stable
  h3 In order to be ranked, you must first join a stable

button(ng-hide="vm.currentUser.stable" ng-click='vm.joinStable()') Join a Stable

h1 Stables

ul
  li(ng-repeat="stable in vm.stables")
    | {{stable.name}} - Doshu: {{stable.doshu.first_name + ' ' + stable.doshu.last_name}}

h1 SCUD Rankings

h2 Makuuchi

h3 Yokozuna
jk-filter-ranks(rank='Yokozuna' users='users')

h3 Ozeki
jk-filter-ranks(rank='Ozeki' users='users')

h3 Sekiwake
jk-filter-ranks(rank='Sekiwake' users='users')

h3 Komusubi
jk-filter-ranks(rank='Komusubi' users='users')

h2 Makushita
jk-filter-ranks(rank='Makushita' users='users')

h2 Jonokuchi
jk-filter-ranks(rank='Jonokuchi' users='users')
