h1 New Game

label Winner
input(type='text' ng-model='vm.game.winner')

br
br

label Loser
input(type='text' ng-model='vm.game.loser')

br
br

label Victory Condition
select(ng-model='vm.game.victory_condition')
  option Full Clear
  option Perfect SCUD
  option Semi-perfect SCUD
  option Shooting the Moon
  option Running the Table
  option Hara-kiri
  option No Contest
  option Cupping
  option SCUD
  option Beta
  option Gamma
  option Seppuku
  option Sudden Death
  option Matte
  option Disqualification

br
br

label Notes
textarea(ng-model='vm.game.notes')

hr

button(ng-click='vm.submit()') Submit
