h1 Jonokuchi

p Every new SCUD player stars at the rank of Jonokuchi. This is considered the learning phase, during which time players are expected to familiarize themselves with the layout of the game, the flow of gameplay, and the etiquette and culture of SCUD.

p Technically, Jonokuchi are a part of the Makushita class, but for all intents and purposes they are considered a separate, lower rank. Therefore Jonokuchi are not allowed to compete with Makuuchi outside of their own stables. Competition with Makushita of higher rank, however, is acceptable.

p Jonokuchi officially advance to the formal Makushita rank automatically after competing outside of the stable for the first time (regardless of the outcome of the game). Players can never be demoted back to the rank of Jonokuchi; it exists only for new SCUD players.

h1 Makushita

p Makushita is the most common rank in SCUD. Makushita, by definition, have competed at least once outside of their own stables.

p In order to advance from this rank, a player must achieve a Special Victory in inter-stable competition. Special Victories include all of the following: Full Clear*, Perfect SCUD, Semi-perfect SCUD, Shooting the Moon, Running the Table, Hara-kiri, No Contest, and Cupping. 

small *A Full Clear in inter-stable competition automatically promotes a player to Yokozuna, no matter his current rank.

p It is impossible to be demoted from this rank

h1 Makuuchi

p Makuuchi is an umbrella term for any rank above Makushita. The Makuuchi include Komusubi, Sekiwake, Ozeki, and Yokozuna. Makuuchi CAN be demoted (see below) and are not expected to compete below their rank (i.e. with Makushita). They are also expected to demonstrate a certain level of acumen and respect for the culture of SCUD. In turn, lower ranks are expected to look up to and honor the Makuuchi.

h2 Sekiwake

p If a Makushita achieves a Special Victory in inter-stable competition as outlined above, he is promoted to the Makuuchi rank of Sekiwake. Sekiwake can advance to the rank of Ozeki, the highest conventional rank in SCUD, by achieving a Perfect Victory in inter-stable competition. This must be done while the player retains the rank of Sekiwake, however. Perfect Victories inlude the following: Full Clear*, Perfect SCUD, Shooting the Moon, and Running the Table. Note that this does not include the other forms of Special Victory.

small *A Full Clear in inter-stable competition automatically promotes a player to Yokozuna, no matter his current rank.

h2 Ozeki

p The Ozeki represent the highest conventionally ranked players of SCUD. In order to achieve this rank, a player must earn a Perfect Victory in inter-stable competition as Sekiwake (see above). There is no set criteria to advance from the rank of Ozeki. By achieving Perfect Victories and demonstrating the highest principles of an esteemed SCUD player, an Ozeki can earn the right to be called Yokozuna.

h2 Komusubi

p Komusubi is the lowest rank within the Makuuchi. It is given to a Sekiwake or an Ozeki who loses his nards in competition. Komusubi have the opportunity to regain their old ranks by being competition-ready after their next ten (10) games (i.e. having more than five nards). If, after ten games, a Komusubi has not regained his nards, he is demoted to Makushita.

h2 Yokozuna

p The honorific rank of Yokozuna is given to a player who has either achieved a Full Clear in competition or has earned the rigth to be called Yokozuna by demonstrating commitment above and beyond that of the majority of SCUD players while holding the rank of Ozeki. Yokozuna are proferred the highest level of respect by all other ranks, and it is considered a great honor to even be allowed to compete with one of this rank. Yokozuna additionally have two special rights unique to the rank:

p 1) He is given an honorific name, which replaces his real name during compettiion

p 2) He is expected to perform a ritual dohyo entrance ceremony at the start of competitions

p Yokozuna cannot be demoted, but it is such a dishonor to lose one's nards at this rank that a Yokozuna who is so defeated is expected to retire his name and begin again as Jonokuchi.

a(ui-sref='home') Return home &raquo;
